<section class="w-[50%] m-auto mt-32 py-12 ">

  <img src="../../../assets/med-logo.png" alt="" class="h-12 flex justify-center m-auto mb-12">


  <div class="mt-4 w-full m-auto flex">
    <input type="text" class="border border-green-400 rounded-lg p-3 w-[50%] m-auto"  placeholder="Enter email">
  </div>

  <div class="mt-4 w-full m-auto flex">
    <input type="text" class="border border-green-400 rounded-lg p-3 w-[50%] m-auto" placeholder="Enter password" >
  </div>

  <div class="mt-4 w-full m-auto flex justify-center">
    <button class="bg-green-500 w-[50%] p-4 rounded-lg" >Login</button>
  </div>
  <!-- <small>Create Account</small> -->

</section>
